#extension-hotspot-icon{
  display: inline-block;
  width: 3rem;
  height: 2rem;
  background-image: url('../images/menu-icon.svg');
  background-size: contain;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 0;
}

#extension-hotspot-title{
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size:1.8rem;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    padding-left: 3.8rem;
    font-size: 1.8rem;
    background-size: 2.8rem;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('../images/menu-icon.svg');
	width:8rem;
	margin:0 auto;
}

/*
#extension-hotspot-title #extension-hotspot-tutorial-button{
	opacity:0;
	cursor:pointer;
	vertical-align: super;
	font-size:60%;
	padding:.5rem;
}
#extension-hotspot-title:hover #extension-hotspot-tutorial-button{
	opacity:1;
}
*/


.extension-hotspot-visible{
   display:block;
}
.extension-hotspot-hidden{
   display:none;
}

.extension-hotspot-button{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem 0;
    cursor:pointer;
}



#extension-hotspot-view button{
	font-size: 1.6rem;
	padding: 1rem 2rem;
	border: none;
}
#extension-hotspot-view button:focus{
    outline: none;
}

#extension-hotspot-view a{
	color:white;
	font-weight:bold;
}

.extension-hotspot-italic{
	font-style:italic;
}


/*  DELETE  */


.extension-hotspot-item-delete-button{
	background: url(/images/delete-button.png);
    background-size: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid #979797;
    cursor: pointer;
	display:inline-block;
	opacity:.5;
}

.extension-hotspot-item-delete-button:hover{
	opacity:1;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.extension-hotspot-select-satellites-question,
.extension-hotspot-item{
	padding: 0;
	display: flex;
	background-color: #46769C;
	border-radius:.5rem;
	margin-top:1rem;
	border-radius: .5rem;
	position: relative;
	width:100%;
}

.extension-hotspot-item{
	margin-top: 4rem;
}


.extension-hotspot-item-left{
	margin-bottom: 2rem;
}

.extension-hotspot-item-setter{
	color:white;
	font-size: 1.8rem;
	/*border-right: 1px solid rgba(255,255,255,.3);*/
	width:100%;
	padding:2rem;
	overflow: hidden;
	display:flex;
	flex-wrap:wrap;
}
.extension-hotspot-item-right{
	text-align:center;
}

#extension-hotspot-server-list{
	width:calc(100% - 8rem);
}

#extension-hotspot-server-list-toggle{
	border-left: 1px solid rgba(255,255,255,.3);
}

#extension-hotspot-view .rule-switch{
	padding-right:0;
}


.extension-hotspot-item-menu{
    display:none;
	/*display: flex;*/
	flex-direction:column;
	/*justify-content:space-around;*/
	padding:2rem;
}


#extension-hotspot-view .extension-hotspot-limit{
	width: 8rem;
	font-size: 1.8rem;
	padding:.5rem 1rem;
	margin: .5rem;
	background-color: #4d8bb7;
	color:white;
}


.extension-hotspot-item-setter > span{
	display:inline-block;
}


#extension-hotspot-list{
	width:auto;
	display:flex;
	flex-wrap:wrap;
}


#extension-hotspot-original-item{
	opacity:.3;
	display:none;
}


#extension-hotspot-view select{
	display: inline-block;
	font-size: 1.8rem;
	color:white;
	line-height: 1.3;
	padding:.5rem 1rem;
	border-radius: 0.5rem;
	box-sizing: border-box;
	margin: .5rem;
	border: none;
	background-color: #4d8bb7;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(/images/select-arrow.svg);
	background-repeat: no-repeat;
	background-size: 1.25rem;
	background-position: calc(100% - 1rem);
	padding-right: 3.5rem;
}

#main-menu #extension-hotspot-menu-item {
  	background-image: url('../images/menu-icon.svg');
}

#extension-hotspot-view {
  	height: 100%; /*calc(100% - 7.6rem);*/
  	box-sizing: border-box;
	overflow: auto;
	position: absolute;
	top: 7.6rem;
	left: 0;
	padding: 2rem;
}


#extension-hotspot-content {
	display:flex;
	flex-direction: column;
	flex-direction: column;
	overflow: auto;
  	position: relative;
  	text-align: left;
  	font-size: 1.6rem;
  	color: #fff;
	height:auto;
}

#extension-hotspot-content img{
	max-width:100%;
}

.extension-hotspot-response-data{
	text-align:center;
}


/*  TABS  */


.extension-hotspot-tab-buttons{
	margin-top: 4rem;
	background-color: rgba(255,255,255,.1);
	border-radius: .7rem;
	overflow: hidden;
	font-size:0;
}

#extension-hotspot-view .extension-hotspot-tab-buttons button{
	background-color: transparent;
	border-right: 1px solid rgba(0,0,0,.05);
	color: #eee;
	cursor:pointer;
	font-size:1.8rem;
}
#extension-hotspot-view .extension-hotspot-tab-buttons button:last-child{
	float:right;
}

#extension-hotspot-view .extension-hotspot-tab-buttons button:hover{
	background-color: rgba(0,0,0,0.1);
	color:white;
}



#extension-hotspot-tabs-container > div{
	display:none;
}

#extension-hotspot-content.extension-hotspot-show-tab-timers #extension-hotspot-tab-button-timers,
#extension-hotspot-content.extension-hotspot-show-tab-satellites #extension-hotspot-tab-button-satellites,
#extension-hotspot-content.extension-hotspot-show-tab-tutorial #extension-hotspot-tab-button-tutorial{
	color: white;
    background-color: rgba(0,0,0,0.18);
}
#extension-hotspot-content.extension-hotspot-show-tab-timers #extension-hotspot-tab-timers,
#extension-hotspot-content.extension-hotspot-show-tab-satellites #extension-hotspot-tab-satellites,
#extension-hotspot-content.extension-hotspot-show-tab-tutorial #extension-hotspot-tab-tutorial{
	display:block;
}




/*  blocklist  */


#extension-hotspot-blocklist{
    
}

#extension-hotspot-blocklist > div{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    width:100%;
    border-bottom: 1px dashed rgba(255,255,255,.15);
}



/*  Countdown & abort */

#extension-hotspot-countdown{
    background-color:rgba(255,0,0,.5);
    padding:2rem;
    margin:2rem 0;
}




.extension-hotspot-centered-error,
.extension-hotspot-centered-page{
	padding:2rem;
	max-width:60rem;
	margin: 4rem auto;
}

.extension-hotspot-centered-error{
	text-align:center;
}

.extension-hotspot-centered-page{
	border-bottom:1px solid rgba(255,255,255,.3);
}


.extension-hotspot-type{
	width:4rem;
	height:4rem;
	background-repeat:no-repeat;
	background-position:center;
}


.extension-hotspot-radio-select-item,
.extension-hotspot-vendor,
.extension-hotspot-ip,
.extension-hotspot-mac:not(:empty){
	background-color:rgba(255,255,255,.07);
	border-radius:.5rem;
	padding:1rem 1.5rem;
	margin:1rem 1rem 1rem 0;
	display:inline-block;
}

.extension-hotspot-vendor:empty{
    display:none;
}

.extension-hotspot-radio-select-item{
	width:100%;
	display:block;
	box-sizing: border-box;
}


.extension-hotspot-radio-select-item span{
	margin-left:1rem;
}

.extension-hotspot-line2,
.extension-hotspot-line3{
	display:flex;
	flex-wrap:wrap;
	/*justify-content:space-between;*/
	width:100%;
}

.extension-hotspot-line2 > div{
	width:100%;
}

.extension-hotspot-line4{
    text-align:right;
}




.extension-hotspot-thing:not(:empty):after{
	content:' → ';
}

.extension-hotspot-nicename{
	width:100%;
    min-width: 160px;
    font-size:3rem;
    /*font-style: italic;*/
    padding-bottom: 2rem;
    opacity: .8;
    flex-grow: 1;
    padding: 1rem 2rem 1rem 0;
    box-sizing: border-box;
    border-radius: .5rem;
}

.extension-hotspot-nicename:first-letter{
  text-transform: capitalize
}


.extension-hotspot-icon{
    display:none;
	width:4rem;
	height:4rem;
	margin-right:2rem;
	margin-bottom:1rem;
	background-size:3rem;
	background-position:center;
	background-repeat:no-repeat;
	flex-shrink: 0;
}

.extension-hotspot-type-timer .extension-hotspot-icon{
	background-image:url('../images/timer.svg');
}

.extension-hotspot-type-alarm .extension-hotspot-icon{
	background-image:url('../images/alarm.svg');
}

.extension-hotspot-type-wake .extension-hotspot-icon{
	background-image:url('../images/wake.svg');
}

.extension-hotspot-type-reminder .extension-hotspot-icon{
	background-image:url('../images/reminder.svg');
}

.extension-hotspot-type-countdown .extension-hotspot-icon{
	background-image:url('../images/countdown.svg');
}

.extension-hotspot-type-actuator .extension-hotspot-icon{
	background-image:url('../images/actuator.svg');
}

.extension-hotspot-type-value .extension-hotspot-icon{
	background-image:url('../images/value.svg');
}

.extension-hotspot-month:after{
	content:' ';
}
.extension-hotspot-day:after{
	content:' ';
}

.extension-hotspot-hours-to-go:after{
	content:'h ';
}

.extension-hotspot-hours:after{
	content:':';
}

.extension-hotspot-minutes-to-go:after{
	content:'m ';
}

.extension-hotspot-seconds-to-go:after{
	content:'s ';
}


.extension-hotspot-time > div{
	display:inline-block;
}

.extension-hotspot-time > div:first-of-type{
	font-weight:bold;
}

.extension-hotspot-date{
	margin-right:1rem;
}

.extension-hotspot-short-time{
	display: inline-block;
}

.extension-hotspot-time-to-go{
	font-style:italic;
	margin-left:4rem;
}

.extension-hotspot-to-go{
}




#extension-hotspot-original-domain-item{
    display:none;
}


.extension-hotspot-domains{
    background-color: rgba(0,0,0,.07);
    padding:1rem;
    width:100%;
    margin-top:2rem;
}

.extension-hotspot-domains:empty{
    display:none;
}

.extension-hotspot-domains:empty + button{
    display:none;
}

.extension-hotspot-domains:not(:empty)::before{
    content:"Attempted connections";
    font-size:2.2rem;
    width:100%;
    padding:2rem 1rem;
    display: inline-block;
}



/*
.extension-hotspot-domains h4{
    margin-left:1rem;
}
*/

.extension-hotspot-domains > div{
    border-radius:1rem;
    margin-bottom:1rem;
}

.extension-hotspot-domains > div:not(:last-child){
    border-bottom: 1px dashed rgba(255,255,255,.15);
}


.extension-hotspot-domain-item{
    width:100%;    
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}

.extension-hotspot-domain-info{
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
.extension-hotspot-domain-info > div{
    padding:1rem;
    /*flex-grow:1;*/
}


.extension-hotspot-domain-options{
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.extension-hotspot-domain-count{
    opacity:.8;
    background-color:rgba(0,0,0,.1);
    border-radius:1rem;
}
.extension-hotspot-domain-count::after{
    content:"✕";
    margin-left:.3rem;
}



/*     satellites   */

.extension-hotspot-select-satellites{
	display:none;
}

/*
.extension-hotspot-potential-satellite .extension-hotspot-no-satellites{
	display:none;
}
.extension-hotspot-potential-satellite .extension-hotspot-select-satellites{
	display:block;
}


#extension-hotspot-loading{
	text-align:center;
	padding:2rem;
}

.extension-hotspot-select-satellites-question{
	display:flex;
	justify-content:space-between;
}

.extension-hotspot-select-satellites-question > div{
	padding:2rem;
}

.extension-hotspot-switch-slider{
	cursor:pointer;
}

#extension-hotspot-content input[type="radio"]{
	padding:1rem;
}
*/


@media screen and (min-width: 641px) {
	.extension-hotspot-line2{
		width:auto;
		/*margin-left:6rem;*/
	}
	.extension-hotspot-nicename{
		width: calc(100% - 6rem);
	}
	.extension-hotspot-line2 > div{
		width:auto;
		min-width: 200px;
	}
	.extension-hotspot-time{
		margin-right:1rem;
	}
}


@media screen and (min-width: 1025px) {
	#extension-hotspot-view{
		left:9.6rem;
		top: 0;
		height:100vh; 
		position:absolute;
		width: calc(100% - 9.6rem);
		padding-right:9.6rem;
	}
	
	#extension-hotspot-content-container{
		height:auto;
		width: calc(100% - 3rem);
	}
	
	/*
	.extension-hotspot-item{
		width: calc(50% - 4rem);
		margin-left: 2rem;
		margin-right: 2rem;
	}
	*/
	
}


