<div id="extension-hotspot-content" class="extension-hotspot-show-tab-timers">
  
    <div id="extension-hotspot-content-container">
        <h3 id="extension-hotspot-title">Hotspot</h3>
		
		<div id="extension-hotspot-countdown" class="extension-hotspot-hidden">
			<h2>The hotspot will launch in <span id="extension-hotspot-countdown-seconds">...</span> seconds.</h2>
            <p>If this addon is somehow causing issues, you can abort it starting (and/or disable it in your <a href="/settings/addons">addons overview</a>).</p>
			<button id="extension-hotspot-abort-button" class="extension-hotspot-button">Abort launch</button> <button id="extension-hotspot-launch-button" class="extension-hotspot-button">Launch now</button> <span id="extension-hotspot-abort-message"></span>
		</div>
		
		
		<div class="extension-hotspot-tab-buttons">
            <button id="extension-hotspot-tab-button-timers" class="extension-hotspot-main-tab-button">Devices</button>
			<button id="extension-hotspot-tab-button-satellites" class="extension-hotspot-main-tab-button">Blocklist</button>
            <button id="extension-hotspot-tab-button-tutorial" class="extension-hotspot-main-tab-button">?</button>
        </div>
		
		<div id="extension-hotspot-tabs-container">
			
			<div id="extension-hotspot-tab-timers" class="extension-hotspot-tab">
				
				<div id="extension-hotspot-list">    
				</div>
                
                <div class="extension-hotspot-bottom-button-container">
                    <button id="extension-hotspot-refresh-button" class="extension-hotspot-button">refresh</button>
                </div>
                
                <div id="extension-hotspot-original-domain-item" class="extension-hotspot-domain-item">
			        <div class="extension-hotspot-domain-info">
                        <div class="extension-hotspot-domain-domain"></div>
                        <div class="extension-hotspot-domain-count"></div>
                    </div>
                    <div class="extension-hotspot-domain-options">
                        <div class="extension-hotspot-domain-permission"></div>
                    </div>
                    
                </div>
                
				<div id="extension-hotspot-original-item" class="extension-hotspot-item">

					<div class="extension-hotspot-item-setter">
						<div class="extension-hotspot-icon">
						</div>

						<div class="extension-hotspot-nicename"></div>

						<div class="extension-hotspot-line2">
							<div class="extension-hotspot-ip"></div>
							<div class="extension-hotspot-mac"></div>
                            <div class="extension-hotspot-vendor"></div>
                            
						</div>
                        <div class="extension-hotspot-line3">
                            
                            <div class="extension-hotspot-domains"></div>
                        </div>

					</div>

					<div class="extension-hotspot-item-menu">
						<div class="extension-hotspot-item-right">
							<div class="extension-hotspot-item-delete-button">&nbsp;</div>
						</div>
					</div>

				</div>
			</div>

			
			<div id="extension-hotspot-tab-satellites" class="extension-hotspot-tab">
				<div id="extension-hotspot-satellites" class="extension-hotspot-centered-page">
                    <h2>Blocklist</h2>
					<p>These are all the domains that you have blocked so far.</p> 
					
					<div id="extension-hotspot-blocklist"></div>
					
				</div>

			</div>


			<div id="extension-hotspot-tab-tutorial" class="extension-hotspot-tab">
				<div id="extension-hotspot-tutorial" class="extension-hotspot-centered-page">
					<h2>How to use Hotspot</h2>
					<p>Most privacy and security issues around smart homes are caused by wifi-enabled devices. These form a juicy target for hackers, since they can autonomously access the internet, and be a stepping stone to taking over other devices in your network.</p>
                    <p>It's good practice to create a separate wifi network for your wifi-enabled smart home devices.</p>
                    <p>This addon was created with a specific goal: to support the <a href="">Candle smart doorbell</a>.</p>
                    
                    <h4>Advantages</h4>
					<ul>
						<li>You can learn about all the connections that wifi devices make. You may be shocked to learn how they behave.</li>
						<li>If someone steals your doorbell they may learn your wifi password. In this case, they'll only have the password to this separate network.</li>
					</ul>
                    
                    <h4>Limitations</h4>
                    <p>The wireless chip in your raspberry Pi is much less powerful than those found in dedicated wireless routers. Because of this there are some limitations to be aware of.</p>

					<ul>
						<li>There is less bandwidth available, and what's available has to be shared in two directions (to the real router, and to the connected devices).</li>
						<li>You can't connect as many devices. If you want to connect multiple devices that require a lot of data transmission, such as network video cameras, then you may want to setup your real router to create a secondary network instead.</li>
						<li>Please give me a list of all my alarms</li>
					</ul>
                    

				</div>
			</div>
		</div>
		
		
		
		

        <br/>
        <br/>

        <div id="extension-hotspot-response">
            <p id="extension-hotspot-response-data" class="extension-hotspot-centered-error"></p>
        </div>
        <br/>

    </div>
    
</div>





